.cah-card {
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0 solid #000000;
    max-width: 200px;
    min-height: 250px;
    display: inline-block;
}

.cah-black {
    background-color: black;
    color: white;
}

.cah-white {
    border: medium solid black;
}

.cah-textcontainer {
    min-height: 250px;
    line-height: 250px;
}

.cah-cardtext {
    display: inline-block;
    font-weight: bolder;
    line-height: 18px;
    text-align: center;
    vertical-align: middle;
}